@font-face {
  font-family: "AkzidenzGroteskBE";
  font-weight: 300;
  src: url("../../../fonts/berthold-akzidenz-grotesk/Berthold Akzidenz Grotesk Light.otf") format("opentype");
}

@font-face {
  font-family: "AkzidenzGroteskBE";
  font-weight: 400;
  src: url("../../../fonts/berthold-akzidenz-grotesk/Berthold Akzidenz Grotesk Regular.otf") format("opentype");
}

@font-face {
  font-family: "AkzidenzGroteskBE";
  font-weight: 400;
  font-style: italic;
  src: url("../../../fonts/berthold-akzidenz-grotesk/Berthold Akzidenz Grotesk Italic.otf") format("opentype");
}

@font-face {
  font-family: "AkzidenzGroteskBE";
  font-weight: 500;
  src: url("../../../fonts/berthold-akzidenz-grotesk/Berthold Akzidenz Grotesk Medium.otf") format("opentype");
}

@font-face {
  font-family: "AkzidenzGroteskBE";
  font-weight: 500;
  font-style: italic;
  src: url("../../../fonts/berthold-akzidenz-grotesk/Berthold Akzidenz Grotesk Medium Italic.otf") format("opentype");
}

@font-face {
  font-family: "AkzidenzGroteskBE";
  font-weight: 700;
  src: url("../../../fonts/berthold-akzidenz-grotesk/Berthold Akzidenz Grotesk Bold.otf") format("opentype");;
}

@font-face {
  font-family: "AkzidenzGroteskBE";
  font-weight: 700;
  font-style: italic;
  src: url("../../../fonts/berthold-akzidenz-grotesk/Berthold Akzidenz Grotesk Bold Italic.otf") format("opentype");
}

@font-face {
  font-family: "AkzidenzGroteskBE";
  font-weight: 800;
  src: url("../../../fonts/berthold-akzidenz-grotesk/Berthold Akzidenz Grotesk Super.otf");
}


@font-face {
  font-family: 'ALSScripticus';
  src: url('../../../fonts/als-scripticus/ALSScripticus.otf'); 
   src: url('../../../fonts/als-scripticus/ALSScripticus.ttf'); 
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'ALSScripticus';
  src: url('../../../fonts/als-scripticus/ALSScripticus-Bold.otf'); 
   src: url('../../../fonts/als-scripticus/ALSScripticus-Bold.ttf'); 
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LeagueGothic';
  src: url("../../../fonts/league-gothic/LeagueGothic-Regular.otf");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'Lato';
  src: url('../../../fonts/lato/LatoLatin-Hairline.eot'); /* IE9 Compat Modes */
  src: url('../../../fonts/lato/LatoLatin-Hairline.woff2') format('woff2'), /* Modern Browsers */
       url('../../../fonts/lato/LatoLatin-Hairline.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../fonts/lato/LatoLatin-Thin.eot'); /* IE9 Compat Modes */
  src: url('../../../fonts/lato/LatoLatin-Thin.woff2') format('woff2'), /* Modern Browsers */
       url('../../../fonts/lato/LatoLatin-Thin.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../fonts/lato/LatoLatin-Light.eot'); /* IE9 Compat Modes */
  src: url('../../../fonts/lato/LatoLatin-Light.woff2') format('woff2'), /* Modern Browsers */
       url('../../../fonts/lato/LatoLatin-Light.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../fonts/lato/LatoLatin-Regular.eot'); /* IE9 Compat Modes */
  src: url('../../../fonts/lato/LatoLatin-Regular.woff2') format('woff2'), /* Modern Browsers */
       url('../../../fonts/lato/LatoLatin-Regular.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../fonts/lato/LatoLatin-Bold.eot'); /* IE9 Compat Modes */
  src: url('../../../fonts/lato/LatoLatin-Bold.woff2') format('woff2'), /* Modern Browsers */
       url('../../../fonts/lato/LatoLatin-Bold.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

